<!doctype html>
<html>
<style>
    h1 {text-align: center;}
    p1 {text-align: center;}
</style>
 <body>
  <h1>Cloud OSA</h1>
  <p align="center">
   <button onclick="Send_Command('START')">Start</button>
   <button onclick="Send_Command('STOP')">Stop</button>
   <button onclick="Send_Command('SINGLE')">Single</button>
   <label for="command">&nbsp; &nbsp; Command:</label>
   <input type="text" id="command" name="command">
   <button onclick="Send_Command(document.getElementById('command').value)">Send</button>
  </p>
  <p>
  <b>Response:</b>
  </p>
  <div id="scrollbox" style="height:50px; border:1px solid #ccc; overflow-y:scroll;padding:5px;"></div>
  <div id="chart1" class="chart"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.58.4/plotly.min.js" integrity="sha512-odxyOOOwpEgYQnS+TzF/P33O+DfGNGqyh89pJ/u2addhMw9ZIef3M8aw/otYSgsPxLdZi3HQhlI9IiX3H5SxpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script type="text/javascript">
          // connect to Pusher
              var socket = io.connect('http://' + document.domain + ':5000'  + '/test');
              var first_time = true;
              var graph;

              // socket.on('connect', function() {
          function Send_Command(command){
             socket.emit('command', command);
          }

          function start_func() {
              socket.emit('command', 'start');
          }

          function stop_func() {
              socket.emit('command', 'stop');
          }

          function single_func() {
              socket.emit('command', 'single');
          }
              //});
              // subscribe to crypto channel
              //socket.on('connect');
              socket.on('command', function (msg) {
                 var a =msg;
                 var theDiv = document.getElementById('scrollbox');
                 theDiv.innerHTML += msg;
                 theDiv.innerHTML += "<br />";
                 theDiv.scrollTop = theDiv.scrollHeight;
              });
              socket.on('new_plot', function (msg) {
                  //get data

                  if (first_time) {
                      graph = JSON.parse(msg);
                      Plotly.newPlot('chart1', graph, {})
                      first_time = false;
                  } else {
                      var tmp = JSON.parse(msg);
                      graph.data = tmp.data;
                      Plotly.react('chart1', graph, {});
                  }
              });
          // listen for relevant events

</script>
</html>
